.statistics-welcome-container {
  margin-left: -1000px;
  margin-top: 70px;
}

.statistics-content-container {
  margin-left: 34px;
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.statistics-video-frame {
  display: flex;
  width: 650px;
  height: 363px;
  padding: 48px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Background-bg-secondary, #F3F5F6);
}

.statistics-boxes-container {
  position: absolute;
  right: 98px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.statistics-white-box {
  display: flex;
  width: 300px;
  height: 100px;
  padding: 21.618px;
  flex-direction: column;
  align-items: center;
  gap: 21.618px;
  border-radius: 14.412px;
  background: var(--Theme-White-Default, #FFF);
  box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.statistics-box-title {
  color: var(--Theme-Dark-Default, #16192C);
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.519px;
}

.statistics-box-number {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Text-Heading-Dark, #27272E);
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
} 