.user-welcome-container {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: -1000px;
}

.user-rectangle-wrapper {
  margin: 30px 34px 0 34px;
}

.user-labels-row {
  display: flex;
  justify-content: space-between;
  width: 1142.049px;
  padding: 0 24px;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: bold;
}

.user-label {
  flex: 1;
  text-align: center;
  flex-shrink: 0;
  color: #000;
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-separator {
  width: 1142.049px;
  height: 1px;
  background: rgba(0, 0, 0, 0.20);
  margin-top: 10px;
  margin-left: 24px;
}

.user-data-row {
  display: flex;
  justify-content: space-between;
  width: 1142.049px;
  padding: 8px 24px;
  box-sizing: border-box;
  margin: 0 auto;
}

.user-data-cell {
  flex: 1;
  text-align: center;
  color: #333;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  padding: 8px 0;
} 